.board {
	background-color: black;
	height: 480px;
	margin: auto;
	width: 640px;
}

.grass {
  background-color: green;
  display: inline-block;
  height: 100%;
  width: 63px;
}

.side-line {
  background-color: orange;
  display: inline-block;
  height: 100%;
  width: 10px;
}

.road {
  background-color: #383c3e;
  display: inline-block;
  height: 100%;
  position:relative;
  width: 230px;
}

.centre-line {
  background-color: lightgrey;
  display: inline-block;
  height: 100%;
  width: 10px;
}

.runway-area {
  height: 100px;
  margin: -450px auto;
  position: relative;
  width: 480px;
  z-index: 2;
}

#lady {
  clear: all;
  float: left;
  margin-top: 350px;
  position: absolute;
  width: 50px;
  z-index: 3;
}

.cocktail {
	height: 60px;
  position: absolute;
	z-index: 2;
}

.flasher {
  height: 70px;
  position: absolute;
  z-index: 2;
}